# ======================
# Java / Spring Boot
# ======================
backend/target/
backend/.mvn/
backend/*.log

# ======================
# Node / Vite
# ======================
frontend/node_modules/
frontend/dist/

# ======================
# IDE
# ======================
.idea/
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Env
# ======================
.env
