# Fichiers temporaires
*.log
*.swp
.DS_Store
Thumbs.db

# Dossiers de build
**/target/
**/node_modules/
**/dist/
**/build/

# Environnement local
.env
.env.local

# IDE
.idea/
.vscode/
*.iml

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store